.sidebar {
  background: #00000047;

  height: 70px;
  width: 100vw;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
}
.show {
  animation: slide-down 400ms ease-out forwards;
}
.hidden {
  animation: slide-up 200ms ease-out forwards;
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-70px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(-70px);
  }
}
/* amination */
@keyframes down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
    color: #ffa94d;
  }
}
.show_sidebar {
  position: absolute;
  z-index: 50;
  font-size: 30px;
  top: 15px;
  left: 15px;
  height: 40px;
  width: 40px;
  background: transparent;
  border: none;
  color: #f1f3f5;

  animation-name: down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.sidebar i {
  font-size: 20px;
  width: 32vw;
  color: #f1f3f5;
  padding: 15px;
  text-align: center;
}

.active i {
  color: #ff922b;
  border: 1px solid #f8f9fa;
  background-color: #f8f9fa;
  border-radius: 15px;
}
.sidebar button {
  background-color: #000;
  width: 170px;
  height: 50px;
  border: none;
}
.button-option {
  position: relative;
}
.button-option button {
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: transparent;
  color: transparent;
}
.button-option button:hover {
  cursor: pointer;
}
.button-option .option {
  position: absolute;
  z-index: 100;
  padding: 15px;
  border: 2px solid #000;
  top: 110%;
  right: 20%;
}
.button-option .option li {
  list-style: none;
}

/* css for mobile */
@media screen and (max-width: 480px) {
  .sidebar i {
    font-size: 14px;
  }
}
/* @media screen and (min-width: 481px) and (max-width: 768px) {
  .sidebar i {
    font-size: 14px;
    width: 30vw;
    color: #f1f3f5;
    padding: 15px;
    text-align: center;
  }
} */
